<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EasyTravel</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--title icon (.ico) format -->
  <!-- <link rel="icon" type="image/x-icon" href=""> -->
  <link rel="stylesheet" href="components/flights/flights.css"/>
  <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet"> -->

  <!-- web3  -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>  
  <script src="./main_page/country.js"></script>
  <script src="./components/flight_tickets/flight_tickets.js"></script>

  <!-- calendar -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <img src="src\img\flight_tickets.png" alt="ART&PCT" class="art" width="170" height="140">
    <h5>Flight Tickets</h5>
    <button class="back" onclick="history.back()">
        <img src="src/img/back-button.png" alt="back-button" width="15" height="15">
    </button>
    <div class="document1">
        <img class="name" src="src/img/Scoot.png" alt="back-button" width="350" height="90">
        <input class="price" type="button" value="100 USDT">
        <h5 class="view">View Details</h5>
    </div>
    <div class="document2">
        <img class="name" src="src/img/Jetstar.png" alt="back-button" width="350" height="90">
        <input class="price" type="button" value="125 USDT">
        <h5 class="view">View Details</h5>
    </div>
    <div class="document3">
        <img class="name" src="src/img/SIA.png" alt="back-button" width="350" height="90">
        <input class="price" type="button" value="130 USDT">
        <h5 class="view">View Details</h5>
    </div>

</body>